.card-episodes__image {
		width: 100%;
		left: 0;
		@media (min-width: to-rem(768)) {width: auto;}
		& img {
			filter: brightness(0.7);
			@media (min-width: to-rem(768)) {filter: brightness(1.0);}
			@media (min-width: to-rem(1440)) {width: auto;}
		}
	}