.about {
	position: relative;
	padding-block: var(--pad-bl-main);
	border-radius: fluid-mobile(32,12);
	@media (width >= rem(768)) {position: static;}

	&__row {
		@media (width >= rem(768)) {
			display: flex;
			align-items: center;
			& > div:nth-child(1) {order: 2;}
			& > div:nth-child(2) {order: 1;}
		}
	}

	&__col {
		display: block;
		@media (width >= rem(768)) {width: 50%;}
	}

	&__image {
		filter: brightness(0.7);
		@media (width >= rem(768)) {filter: brightness(1.0);}			
		& img {
			@media (width >= rem(768)) {border-radius: rem(8);}
			@media (width >= rem(992)) {border-radius: rem(10);}
			@media (width >= rem(1440)) {border-radius: rem(14);}			
		}
	}
	
	&__text {
		position: absolute;
		top:  fluid-mobile(60,32);
		@media (width >= rem(768)) {
			position: static;
			text-align: left;
		}	
	}
}	