.hero {
	@media (width >= rem(768)) {padding-top: fluid-mid(160,100);}

	&__row {
		@media (width >= rem(768)) {display: flex;}
	}

	&__col {
		position: relative;
		width: 100%;
		@media (width >= rem(768)) {width: 50%;}
		@media (width >= rem(1440)) {align-items: start;}
	}

	&__image {
		@media (width >= rem(768)) {
			position: relative;
			top: 0%;
			padding: 0;
			&::before {
				content: "";
				width: fluid-mid_1(68,36);
				height: fluid-mid_1(74,39);
				position: absolute;
				top: -3%;
				left: -4%;
				z-index: 7;
				background-image: url('../img/images/hero-img/hero-img_add-top.svg');
				background-repeat: no-repeat;
				background-size: cover;
				@media (width >= rem(1190)) {
					top: -3%;
					left: -4%;
				}
			}
		}

		// & img {
		// 	position: static;		
		// 	border-radius: fluid-mid(12,8);
		// }		
	}

	&__body {
		position: absolute;
		bottom: rem(20);
		padding-inline: rem(15);
		@media(min-width: rem(576)) {padding-inline: rem(20);}
		@media (width >= rem(768)) {
			position: static;
			padding-left: fluid-mid(60,32);
			padding-right: rem(5);
			@media (width >= rem(1440)) {padding-top: rem(294);}
		}
	}

	&__text-main {
		margin-bottom: fluid-mobile(620,228);
		font-size: fluid-full(70, 20);
		line-height: fluid-full(88,25);
		letter-spacing: fluid-full(3.2,1.8);
		text-align: center;
		@media (width: rem(768)) {line-height: rem(50);}
		@media (width >= rem(768)) {
			margin-bottom: rem(80);
			text-align: left;
		}
		@media (width >= rem(900)) {margin-bottom: rem(92);}
	}

	&__text-underlining {
		font-size: fluid-full(75, 22);	
		position: relative;
		@media (width: rem(768)) {font-size: rem(43);}
		&::after {
			content: "";
			background-image: url("../img/images/hero-img/hero-img_line.svg");
			position: absolute;
			width: 97%;
			height: 12%;
			left: 0%;
			bottom: 0%;
			background-repeat: no-repeat;
			background-size: cover;
			@media (width: rem(768)) {
				width: rem(93);
				height: rem(7);
			}
		}
	}

	&__text-green {
		font-size: fluid-full(80, 23);
		font-weight: 700;
		color: var(--color-text-for-level);
		@media (width: rem(768)) {font-size: rem(46);}
		@media (width >= rem(768)) {color: var(--color-text-primary);}
	}
	
	&__text-add {
		margin-bottom: rem(12);
		font-size: rem(15);
		line-height: calc(24 / 15);
		@media (width >= rem(768)) {margin-bottom: rem(16);}
	}
}