.reviews {
	padding-block: var(--pad-bl-main);
    &__container {
        @media (min-width: rem(576)) {
            padding-inline: rem(20);
            margin: 0;
        }
		@media (min-width: rem(768)) {padding: 0;}
    }

    &__list {
        display: grid;
        gap: rem(20);
        @media (width >= rem(576)) {
            grid-template-columns: 1fr 1fr;
            align-items: stretch;
            gap: clamp(0.75rem, 0.679rem + 0.36vw, 1rem);
        }
        @media (width: rem(768)) {
            gap: rem(14);
        }
        
        @media (width >= rem(1024)) {grid-template-columns: repeat(3, 1fr);}
    }
}