.icon {
  position: absolute;
  width: 32px;
  height: 24px;
  right: 15px;
  z-index: 6;
  transition: all 0.3s ease;
}
.icon span,
.icon::before,
.icon::after {
  position: absolute;
  width: 100%;
  height: 17%;
  background-color: var(--color-text-primary);
  transition: all 0.3s ease;
  content: "";
}
.icon::before {
  top: 0;
}
.icon::after {
  bottom: 0;
}
.icon span {
  top: 50%;
  transform: translateY(-50%);
}

.active span {
  transform: scale(0) translateY(-50%);
}
.active::before,
.active::after {
  top: 50%;
  height: 25%;
}
.active::before {
  transform: rotate(-45deg) translate(3px, -50%);
}
.active::after {
  transform: rotate(45deg) translate(-3px, -50%);
}

@media (min-width: 768px) {
  .icon {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
  }
}