.form {
	display: flex;
	position: relative;
	flex-direction: column;
	row-gap: to-rem(20);
	align-items: center;
	@media (min-width: to-rem(768)) {
		row-gap: to-rem(16);
		padding: 0;
		align-items: stretch;
	}

	@media (min-width: to-rem(1440)) {row-gap: to-rem(20);}

	&::after {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(51, 51, 51, 0.9) url('../../../assets/images/subscribe/loading.gif') center / 50px no-repeat;
		opacity: 0;
		visibility: hidden;
		transition: all 0.5s ease 0s;
	}

	&._sending::after {
		opacity: 1;
		visibility: visible;
	}
}
.formLabel {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: var(--color-accent-red);
	padding: to-rem(6) to-rem(8);
	font-size: fluid-full(16,14);
	border-radius: to-rem(2);
	@media (min-width: to-rem(768)) {
		padding: to-rem(8) to-rem(10);
		letter-spacing: to-rem(1);
	}
	@media (min-width: to-rem(1440)) {
		padding: to-rem(10) to-rem(15);
		border-radius: to-rem(4);
		letter-spacing: to-rem(2);
	}	
}