.field {
	position: relative;
	width: fluid-mobile(480,260);
	padding: to-rem(12) to-rem(10);
	font-size: fluid-full(24,14);
	line-height: fluid-full(29,18);
	border-radius: fluid-full(6,4);
	color: var(--color-text-primary);
	background-color: var(--color-bg-primary);
	@media (min-width: to-rem(768)) {
		font-size: to-rem(16);
		line-height: to-rem(20);
		border-radius: to-rem(5);
	}
	@media (min-width: to-rem(768)) {
		width: 100%;
		padding: to-rem(16) to-rem(12);
	}
	@media (min-width: to-rem(992)) {padding: to-rem(22) to-rem(10) to-rem(22) to-rem(18);}
	@media (min-width: to-rem(1200)) {padding: to-rem(26) to-rem(10) to-rem(26) to-rem(20);}
	@media (min-width: to-rem(1440)) {
		width: to-rem(522);
		height: to-rem(82);
		margin: 0;
	}		
	&:focus {box-shadow: 0px 0px 10px 2px var(--color-text-primary);}
	&._error {border: 3px solid var(--color-accent-red);}
}