.subscribe {
	position: relative;	
	padding-block: var(--pad-bl-main);
	&::before {
		@media (min-width: to-rem(768)) {
			content: "";
			width: fluid-mid(147,78);
			height: fluid-mid(91,48);
			position: absolute;
			bottom: 6%;
			left: -2%;
			background-image: url('../../assets/images/subscribe/subscribe.svg');
			background-repeat: no-repeat;
			background-size: cover;
		}
	}

	&__container {
		padding-block: fluid-mobile(40,20);
		padding-inline: to-rem(15);
		@media (min-width: to-rem(576)) {padding-inline: to-rem(20);}
		background-color: var(--color-bg-cards);	
		@media (min-width: to-rem(768)) {
			padding: fluid-mid(60,40);
			border-radius: fluid-mid(32,12);
		}
	}

	&__row {
		@media (min-width: to-rem(768)) {
			display: flex;
			justify-content: space-between;
			background-color: var(--color-bg-cards);
		}
	}

	&__col {
		@media (min-width: to-rem(768)) {width: 50%;}
		@media (min-width: to-rem(1440)) {width: auto;}
	}

	&__text {
		text-align: center;
		@media (min-width: to-rem(768)) {text-align: left;}
	}

	&__text-blue {
		display: inline-block;
		padding-inline: to-rem(8);
		margin-bottom: to-rem(20);
		border-radius: 0;
		@media (min-width: to-rem(768)) {
			font-size: to-rem(16);
			line-height: to-rem(24);
		}
		@media (min-width: to-rem(768)) {
			padding: 0;
			margin: 0;
		}
		@media (min-width: to-rem(1440)) {letter-spacing: to-rem(0.5);}
	}
	
	&__title {
		margin-bottom: fluid-mobile(60,40);
		font-size: fluid-full(72, 22);
		line-height: fluid-full(79, 24);
		letter-spacing: fluid-full(2.88,0.8);
		@media (min-width: to-rem(768)) {
			font-size: to-rem(42);
			line-height: to-rem(46);
		}
		@media (min-width: to-rem(768)) {margin: 0;}
		@media (min-width: to-rem(1440)) {
			max-width: to-rem(500);
			margin-bottom: 0;
			padding-right: to-rem(20);
			line-height: to-rem(79);
		}
	}
}