.container {
	max-width: to-rem(1440);
	margin-inline: auto;
}

.pageContainer {
	@media (min-width: to-rem(320)) {padding-inline: 0;}
	@media (min-width: to-rem(768)) {padding-inline: var(--pad-inl-page);}
}

.hero {
	@media (min-width: to-rem(768)) {padding-top: fluid-mid(160,100);}
}

.row {
	@media (min-width: to-rem(768)) {display: flex;}
}

.col {
	position: relative;
	width: 100%;
	@media (min-width: to-rem(768)) {width: 50%;}
	@media (min-width: to-rem(1440)) {align-items: start;}
}

.image {
	@media (min-width: to-rem(768)) {
		position: relative;
		top: 0%;
		padding: 0;

		&::before {
			content: "";
			width: fluid-mid_1(68,36);
			height: fluid-mid_1(74,39);
			position: absolute;
			top: -3%;
			left: -4%;
			z-index: 7;
			background-image: url('@/assets/images/hero-img/hero-img_add-top.svg');
			background-repeat: no-repeat;
			background-size: cover;
			@media (min-width: to-rem(1190)) {
				top: -3%;
				left: -4%;
			}
		}
	}
	img {
		max-width: 100%; 
		height: auto;
		@media (min-width: to-rem(768)) {border-radius: fluid-mid(32,22);}	
	}
}

.body {
	position: absolute;
	bottom: to-rem(20);
	padding-inline: to-rem(15);
	@media(min-width: to-rem(576)) {padding-inline: to-rem(20);}
	@media (min-width: to-rem(768)) {
		position: static;
		padding-left: fluid-mid(60,32);
		padding-right: to-rem(3);
		@media (min-width: to-rem(1440)) {padding-top: to-rem(294);}
	}
}

.textMain {
	margin-bottom: fluid-mobile(620,228);
	font-size: fluid-full(70, 20);
	line-height: fluid-full(88,25);
	letter-spacing: fluid-full(3.2,1.8);
	text-align: center;
	@media (width: to-rem(768)) {line-height: to-rem(50);}
	@media (min-width: to-rem(768)) {
		margin-bottom: to-rem(80);
		text-align: left;
	}
	@media (min-width: to-rem(900)) {margin-bottom: to-rem(92);}
}

.textUnderlining {
	font-size: fluid-mobile(43, 22);	
	position: relative;
	@media (min-width: to-rem(768)) {font-size: fluid-mid(75, 43);}
	&::after {
		content: "";
		background-image: url('@/assets/images/hero-img/hero-img_line.svg');
		position: absolute;
		width: 97%;
		height: 12%;
		left: 0%;
		bottom: 0%;
		background-repeat: no-repeat;
		background-size: cover;
		@media (min-width: to-rem(768)) {
			width: to-rem(93);
			height: to-rem(7);
		}
	}
}

.textGreen {
	font-size: fluid-full(80, 23);
	font-weight: 700;
	color: var(--color-text-for-level);
	@media (width: to-rem(768)) {font-size: to-rem(46);}
	@media (min-width: to-rem(768)) {color: var(--color-text-primary);}
}

.textAdd {
	margin-bottom: to-rem(12);
	font-size: to-rem(15);
	line-height: calc(24 / 15);
	@media (min-width: to-rem(768)) {margin-bottom: to-rem(16);}
}

.alignCenter {
	display: flex;
	align-items: center;
}