.container {
	max-width: rem(1440);
	margin-inline: auto;
}

.visually-hidden {
	position: absolute !important;
    width: 1rem !important;
    height: 1rem !important;
    margin: -1rem !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
}

.align-center {
	display: flex;
	align-items: center;
}

.subtitle {
	font-size: fluid-full(22,15);
	line-height: fluid-full(33,22);
	@media (width: rem(768)) {
		font-size: rem(18);
		line-height: rem(27);
	}
	@media (width >= rem(768)) {color: var(--color-text-muted);}

}

.text-blue {
	color: var(--color-accent-blue);
	filter: saturate(200%);
}

.text-small {
	font-size: rem(15);
	line-height: rem(24);
	border-radius: rem(4);
	@media (width >= rem(768)) {
		font-size: fluid-mid(18,16);
		line-height: fluid-mid(27,24);
		border-radius: fluid-mid(6,4);
	}
}

.ellipsis-text {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

// Service selectors:
.none {display: none !important;}

// * {
// 	outline: 1px solid red !important;
// }