@use 'functions' as *;

:root {
	--color-bg-primary: #191919;
	--color-bg-cards: #000000;
	--color-accent-blue: #118DA8;
	--color-accent-red: #C62828; 
	--color-accent-yellow: #FCFF51;	

	--color-text-primary: #FFFFFF;
	--color-text-muted: #B2B2B2;

	--color-text-for-level: #1ED760;

	--font-family-base: "DM Sans", Arial, sans-serif;
	--font-size-base: #{fluid-full(22,15)};
	--line-height-base: 1;

	--header-height: #{fluid-full(120,40)};

	--pad-bl-main: #{fluid-full(100,20)};
	--pad-inl-head-foot: #{fluid-full(70,15)};
	--pad-inl-page: #{fluid-mid(70,40)};

	--icon-soc1als-1-width: #{fluid-full(32,22)};
	--icon-soc1als-2-width: #{fluid-full(24,16)};
}