.container {
	max-width: to-rem(1440);
	margin-inline: auto;
}

.pageContainer {
	@media (min-width: to-rem(320)) {padding-inline: 0;}
	@media (min-width: to-rem(768)) {padding-inline: var(--pad-inl-page);}
}

.reviews {padding-block: var(--pad-bl-main);}

.reviewsContainer {
	@media (min-width: to-rem(576)) {
			padding-inline: to-rem(20);
			margin: 0;
	}
	@media (min-width: to-rem(768)) {padding: 0;}
}

.visuallyHidden {
	position: absolute !important;
	width: to-rem(1) !important;
	height: to-rem(1) !important;
	margin: to-rem(-1) !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}
