.container {
	max-width: to-rem(1440);
	margin-inline: auto;
}

.pageContainer {
	@media (min-width: to-rem(320)) {padding-inline: 0;}
	@media (min-width: to-rem(768)) {padding-inline: var(--pad-inl-page);}
}

.reviews {padding-block: var(--pad-bl-main);}

.reviewsContainer {
	@media (min-width: to-rem(576)) {
			padding-inline: to-rem(20);
			margin: 0;
	}
	@media (min-width: to-rem(768)) {padding: 0;}
}

.list {
	display: grid;
	gap: to-rem(20);
	@media (min-width: to-rem(576)) {
			grid-template-columns: 1fr 1fr;
			align-items: stretch;
			gap: clamp(0.75rem, 0.679rem + 0.36vw, 1rem);
	}
	@media (width: to-rem(768)) {gap: to-rem(14);}	
	@media (min-width: to-rem(1024)) {grid-template-columns: repeat(3, 1fr);}
}

.card {
	height: 100%;
	display: flex;
	flex-direction: column;
	row-gap: fluid-full(19,12);
	background-color: var(--color-bg-cards);
	padding: fluid-full(50,20);
	@media (min-width: to-rem(576)) {border-radius: to-rem(20);}
	@media (min-width: to-rem(1440)) {
		width: to-rem(423);
		padding: to-rem(54) to-rem(50);
		border-radius: to-rem(32);
  }
}

.description {
	font-size: fluid-full(36,17);
	line-height: fluid-full(43,22);       
	color: var(--color-text-primary);
	@media (width: to-rem(768)) {
			font-size: to-rem(23);
			line-height: to-rem(35);
	}
	@media (min-width: to-rem(1440)) {line-height: calc(43 / 36);}
}
    
.author {
	font-size: fluid-full(24,14);
	line-height: fluid-full(29,17);
	color: var(--color-text-muted);
	@media (width: to-rem(768)) {
			font-size: to-rem(18);
			line-height: to-rem(22);
	}
	@media (min-width: to-rem(1440)) {font-size: to-rem(24);}
}

.stars {
	display: flex;
	column-gap: fluid-full(5,1);
	@media (min-width: to-rem(768)) {column-gap: to-rem(2);}
}

.star {
	width: fluid-full(17,7);
	height: fluid-full(17,7);
	fill: var(--color-text-muted);   /* empty by default */
}

.starFull {fill: var(--color-accent-yellow); /* filled */}

.visuallyHidden {
	position: absolute !important;
	width: to-rem(1) !important;
	height: to-rem(1) !important;
	margin: to-rem(-1) !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}