.text-about {		
	@media (min-width: to-rem(576)) {padding-top: to-rem(40);}
	@media (min-width: to-rem(768)) {
		max-width: 90%;
		padding: 0;
	}
	@media (min-width: to-rem(1440)) {margin-top: to-rem(-16);}
  @media (min-width: to-rem(1440)) {max-width: to-rem(590);}

	&__container {
		padding-inline: to-rem(15);
		text-align: center;
		@media (min-width: to-rem(425)) {padding-inline: to-rem(60);}
		@media (min-width: to-rem(576)) {padding-inline: to-rem(120);}
		@media (min-width: to-rem(768)) {
			padding: 0;
			text-align: left;
		}
		@media (min-width: to-rem(1440)) {padding: 0;}
	}	

	&__arrow {
		display: none;
		@media (min-width: to-rem(768)) {
			position: relative;
			width: fluid-mid(112,60);
			aspect-ratio: 1;
			background-color: var(--color-accent-blue);
			display: block;
			border-radius: 50%;
			margin-bottom: to-rem(20);
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 63%;
			aspect-ratio: 1;
			transform: translate(30%, 30%);
			background: url('../../assets/icons/about-arrow/about-arrow.svg') no-repeat center center;
			background-size: contain;

			@media (max-width: to-rem(600)) {background-size: 50%;}
			@media (min-width: to-rem(601)) {background-size: contain;}
			@media (min-width: to-rem(768)) {width: to-rem(38);}
		}
	}

	&__text-blue {
		display: inline-block;
		margin-top: 0;
		margin-inline: auto;
		margin-bottom: fluid-mobile(340,92);
		padding-inline: to-rem(8);
		background-color: var(--color-bg-primary);
		@media (min-width: to-rem(768)) {
			padding: 0;
			margin: 0;
		}
		@media (min-width: to-rem(1440)) {line-height: to-rem(27);}
	}
	
	&__title {
		margin-bottom: to-rem(32);
		font-size: fluid-full(65,18);
		line-height: fluid-full(79,22);
		letter-spacing: fluid-full(2.88,0.8);
		@media (min-width: to-rem(768)) {
			font-size: to-rem(37);
			line-height: to-rem(40);
		}
		@media (min-width: to-rem(768)) {margin-bottom: to-rem(20);}	
		@media (min-width: to-rem(1440)) {
			margin-bottom: to-rem(32);
			line-height: to-rem(79);
		}	
	}

  &__subtitle:not(:last-child) {
		margin-bottom: to-rem(20);
		@media (min-width: to-rem(1440)) {margin-bottom: to-rem(32);}
	}
}