.nav-footer {
    &__row {
        display: flex;
        column-gap: fluid-mobile-add(406,80);
        @media (min-width: to-rem(992)) {column-gap: fluid-mid_2(124,112);}
    } 

    &__list {
        display: flex;
        flex-direction: column;
    }
    
    &__link {
        display: inline-flex;
        padding-block: fluid-mobile(10,8);
        font-size: fluid-full(17,15);
        line-height: fluid-full(27,24);
        color: var(--color-text-primary); 
        @media (min-width: to-rem(768)) {
            font-size: to-rem(16);
            line-height: to-rem(25);
        }
		@media (min-width: to-rem(768)) {
            padding-block: to-rem(6);
            &:hover, &:active {color: var(--color-accent-blue);} 
            @media (min-width: to-rem(992)) {
                padding-block: 0;
                padding-bottom: to-rem(8);
            }
            @media (min-width: to-rem(1440)) {padding-bottom: to-rem(10);}
        }
    }
}