.menu {
  &__icon {
    position: relative;
    width: fluid-mobile(32,21);
    height: fluid-mobile(24,16);
    z-index: 20;

    span, &::before, &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 17%;
      background: var(--color-text-primary);
      transition: all 0.3s ease;
    }

    &::before { top: 0; }
    &::after { bottom: 0; }
    span { top: 50%; transform: translateY(-50%); }

    &._active {
      span { opacity: 0; }
      &::before,
      &::after {
        top: 50%;
        height: 25%;
      }

      &::before {transform: rotate(-45deg) translate(rem(3), -50%);}
      &::after {transform: rotate(45deg) translate(rem(-3), -50%);}
    }

    @media(min-width: rem(768)) {
      opacity: 0;
      visibility: hidden;
      width: 0;
      height: 0;    
      left: -1000%;
      background-color: transparent;
      font-size: 0;
    }
  }

  &__body {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: transparent;
    opacity: 0;
    pointer-events: none;
    transform: scale(1.03);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 10;

    &._active {
      opacity: 1;
      pointer-events: auto;
      transform: scale(1);
    }

    @media (min-width: rem(768)) {
      position: static;
      height: auto;
      background: transparent;
      transform: none;
      opacity: 1;
      visibility: visible;
    }

    .menu__overlay {
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.6);
      opacity: 0;
      transition: opacity 0.3s ease;
      z-index: 1;
    }

    &._active .menu__overlay { opacity: 1; }

    .menu__list {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      transform: translateY(20px);
      opacity: 0;
      transition: opacity 0.4s ease, transform 0.4s ease;

      @media (width >= rem(768)) {
        flex-direction: row;
        padding: 0;
        pointer-events: auto;
        opacity: 1;
        transform: translateY(0);
      }
    }

    &._active .menu__list {
      opacity: 1;
      transform: translateY(0);
      transition-delay: 0.1s;
    }
  }

  &__link {
    font-size: fluid-mobile(32,24);
    line-height: fluid-mobile(112,80);
    color: var(--color-text-primary);
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover { color: var(--color-accent-blue); }

    @media (width >= rem(768)) {
        display: inline-flex;
        align-items: center;
        padding: fluid-mid(20,10);
        font-size: fluid-mid(17,15);
        line-height: fluid-mid(27,24);

        &:hover, &:active {color: var(--color-accent-blue);}     
    }
  }
}

body._lock { overflow: hidden; }