.soc1als-1 {
	&__list {
		display: flex;
		justify-content: flex-start;
		column-gap: fluid-mobile(70,30);
		font-size: 0;
		@media (min-width: to-rem(768)) {column-gap: to-rem(20);}
		@media (min-width: to-rem(1440)) {column-gap: to-rem(17);}
	}
		
	&__link {
		display: inline-block;
		width: var(--icon-soc1als-1-width);
		@media (min-width: to-rem(768)) {width: to-rem(26);}
	}
}