.form-subscribe {
	position: relative;
	flex-direction: column;
	row-gap: rem(20);
	@media (width >= rem(768)) {
		row-gap: rem(16);
		padding: 0;
	}

	@media (width >= rem(1440)) {row-gap: rem(20);}

	&::after {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(51, 51, 51, 0.9) url("../img/images/subscribe/loading.gif") center / 50px no-repeat;
		opacity: 0;
		visibility: hidden;
		transition: all 0.5s ease 0s;
	}

	&._sending::after {
		opacity: 1;
		visibility: visible;
	}

	&__form {
		position: relative;
		width: fluid-mobile(480,260);
		padding: rem(12) rem(10);
		font-size: fluid-full(24,14);
		line-height: fluid-full(29,18);
		border-radius: fluid-full(6,4);
		color: var(--color-text-primary);
		background-color: var(--color-bg-primary);
		@media (width: rem(768)) {
			font-size: rem(16);
			line-height: rem(20);
			border-radius: rem(5);
		}
		@media (width >= rem(768)) {
			width: 100%;
			padding: rem(16) rem(12);
		}
		@media (width >= rem(992)) {padding: rem(22) rem(10) rem(22) rem(18);}
		@media (width >= rem(1200)) {padding: rem(26) rem(10) rem(26) rem(20);}
		@media (width >= rem(1440)) {
			width: rem(522);
			height: rem(82);
			margin: 0;
		}		
		&:focus {box-shadow: 0px 0px 10px 2px var(--color-text-primary);}
		&._error {border: 3px solid var(--color-accent-red);}
	}

	&__label {
		position: absolute;
		bottom: 0;
		right: 0;
		background-color: var(--color-accent-red);
		padding: 6px 8px;
		font-size: fluid-full(16,14);
		border-radius: 2px;
		@media (width >= rem(768)) {
			padding: 8px 10px;
			letter-spacing: 1px;
		}
		@media (width >= rem(1440)) {
			padding: 10px 15px;
			border-radius: 4px;
			letter-spacing: 2px;
		}
	}
	
	&__button {
		margin: 0 auto;
		@media (width >= rem(768)) {
			display: flex;
			align-self: flex-start;
			margin: 0;
		}
	}	
}