.menu {}

.alignCenter {
  display: flex;
  align-items: center;
}

.icon {
  position: relative;
  width: fluid-mobile(32, 21);
  height: fluid-mobile(24, 16);
  z-index: 20;

  span,
  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 17%;
    background: var(--color-text-primary);
    transition: all 0.3s ease;
  }
  
  span {
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {top: 0;}
  &::after {bottom: 0;}


  &._active {
    span {opacity: 0;}

    &::before,
    &::after {
      top: 50%;
      height: 25%;
    }

    &::before {transform: rotate(-45deg) translate(to-rem(3), -50%);}
    &::after {transform: rotate(45deg) translate(to-rem(-3), -50%);}
  }

  @media (min-width: to-rem(768)) {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    left: -1000%;
    background-color: transparent;
    font-size: 0;
  }
}

.body {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  opacity: 0;
  pointer-events: none;
  transform: scale(1.03);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10;

  &._active {
    padding-top: 10%;
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }

  @media (min-width: to-rem(768)) {
    position: static;
    height: auto;
    background: transparent;
    transform: none;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.menuOverlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;

  .body._active & {opacity: 1;}
}

.list {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  transform: translateY(20px);
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;

  .body._active & {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.1s;
  }

  @media (min-width: to-rem(768)) {
    flex-direction: row;
    padding: 0;
    opacity: 1;
    transform: none;
  }
}

.item {}

.link {
  font-size: fluid-mobile(32, 24);
  line-height: fluid-mobile(112, 80);
  color: var(--color-text-primary);
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: var(--color-accent-blue);
  }

  @media (min-width: to-rem(768)) {
    display: inline-flex;
    align-items: center;
    padding: fluid-mid(20, 10);
    font-size: fluid-mid(17, 15);
    line-height: fluid-mid(27, 24);

    &:hover,
    &:active {
      color: var(--color-accent-blue);
    }
  }
}

.alignCenter {
	display: flex;
	align-items: center;
}