.menu {
  position: relative;
}
.icon {
  position: relative;
  width: 30px;
  height: 22px;
  cursor: pointer;
}
.icon span,
.icon::before,
.icon::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 3px;
  background: #fff;
  transition: 0.3s;
}
.icon::before { top: 0; }
.icon::after { bottom: 0; }
.icon span { top: 50%; transform: translateY(-50%); }
.icon.active span { opacity: 0; }
.icon.active::before { transform: rotate(45deg) translateY(8px); }
.icon.active::after { transform: rotate(-45deg) translateY(-8px); }

.body {
  position: absolute;
  top: 100%;
  left: 0;
  background: #062137e6;
  width: 200px;
  padding: 1rem;
  display: none;
}
.body.active { display: block; }