.container {
	max-width: to-rem(1440);
	margin-inline: auto;
}

.pageContainer {
	@media (min-width: to-rem(320)) {padding-inline: 0;}
	@media (min-width: to-rem(768)) {padding-inline: var(--pad-inl-page);}
}

.about {
	position: relative;
	padding-block: var(--pad-bl-main);
	border-radius: fluid-mobile(32,12);
	@media (min-width: to-rem(768)) {position: static;}
}

.row {
	@media (min-width: to-rem(768)) {
		display: flex;
		align-items: center;
		& > div:nth-child(1) {order: 2;}
		& > div:nth-child(2) {order: 1;}
	}
}

.col {
	display: block;
	@media (min-width: to-rem(768)) {width: 50%;}
}

.image {
	filter: brightness(0.7);
	@media (min-width: to-rem(768)) {filter: brightness(1.0);}			
	img {
		@media (min-width: to-rem(768)) {border-radius: to-rem(8);}
		@media (min-width: to-rem(992)) {border-radius: to-rem(10);}
		@media (min-width: to-rem(1440)) {border-radius: to-rem(14);}			
	}
}

.body {
	position: absolute;
	top:  fluid-mobile(60,32);
	@media (min-width: to-rem(576)) {padding-top: to-rem(40);}
	@media (min-width: to-rem(768)) {
		position: static;
		text-align: left;
	}
	
	@media (min-width: to-rem(768)) {
		max-width: 90%;
		padding: 0;
	}
	@media (min-width: to-rem(1440)) {
		max-width: to-rem(590);
		margin-top: to-rem(-16);
	}
}

.aboutContainer {
	padding-inline: to-rem(15);
	text-align: center;
	@media (min-width: to-rem(425)) {padding-inline: to-rem(60);}
	@media (min-width: to-rem(576)) {padding-inline: to-rem(120);}
	@media (min-width: to-rem(768)) {
		padding: 0;
		text-align: left;
	}
	@media (min-width: to-rem(1440)) {padding: 0;}
}	

.arrow {
	display: none;
	@media (min-width: to-rem(768)) {
		position: relative;
		width: fluid-mid(112,60);
		aspect-ratio: 1;
		background-color: var(--color-accent-blue);
		display: block;
		border-radius: 50%;
		margin-bottom: to-rem(20);
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 63%;
		aspect-ratio: 1;
		transform: translate(30%, 30%);
		background: url('@/assets/icons/about-arrow/about-arrow.svg') no-repeat center center;
		background-size: contain;

		@media (max-width: to-rem(600)) {background-size: 50%;}
		@media (min-width: to-rem(601)) {background-size: contain;}
		@media (width: to-rem(768)) {width: to-rem(38);}
	}
}

.aboutBlue {
	display: inline-block;
	margin-top: 0;
	margin-inline: auto;
	margin-bottom: fluid-mobile(340,92);
	padding-inline: to-rem(8);
	background-color: var(--color-bg-primary);
	@media (min-width: to-rem(768)) {
		padding: 0;
		margin: 0;
	}
	@media (min-width: to-rem(1440)) {line-height: to-rem(27);}
}

.header {}

.title {
	margin-bottom: to-rem(32);
	font-size: fluid-full(65,18);
	line-height: fluid-full(79,22);
	letter-spacing: fluid-full(2.88,0.8);
	@media (min-width: to-rem(768)) {
		font-size: to-rem(37);
		line-height: to-rem(40);
	}
	@media (min-width: to-rem(768)) {margin-bottom: to-rem(20);}	
	@media (min-width: to-rem(1440)) {
		margin-bottom: to-rem(32);
		line-height: to-rem(79);
	}	
}

.aboutSubtitle:not(:last-child) {
	margin-bottom: to-rem(20);
	@media (min-width: to-rem(1440)) {margin-bottom: to-rem(32);}
}

.textBlue {
	color: var(--color-accent-blue);
	filter: saturate(200%);
}

.textSmall {
	font-size: to-rem(15);
	line-height: to-rem(24);
	border-radius: to-rem(4);
	@media (width: to-rem(768)) {
		font-size: fluid-mid(18,16);
		line-height: fluid-mid(27,24);
		border-radius: fluid-mid(6,4);
	}
}

.subtitle {
	font-size: fluid-full(22,15);
	line-height: fluid-full(33,22);
	@media (width: to-rem(768)) {
		font-size: to-rem(18);
		line-height: to-rem(27);
	}
	@media (min-width: to-rem(768)) {color: var(--color-text-muted);}
}