.container {
	max-width: to-rem(1440);
	margin-inline: auto;
}

.pageContainer {
	@media (min-width: to-rem(320)) {padding-inline: 0;}
	@media (min-width: to-rem(768)) {padding-inline: var(--pad-inl-page);}
}	

.root {
  padding-block: var(--pad-bl-main);
  text-align: center;
}