.container {
	max-width: to-rem(1440);
	margin-inline: auto;
}

.pageContainer {
	@media (min-width: to-rem(320)) {padding-inline: 0;}
	@media (min-width: to-rem(768)) {padding-inline: var(--pad-inl-page);}
}	

.root {
  padding-block: var(--pad-bl-main);
  text-align: center;
}

.header {
  padding-bottom: fluid-mobile(40, 28);
  @media (min-width: to-rem(768)) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: fluid-mid(60, 28);
  }
}

.headerTitle {
  margin-bottom: fluid-mobile(32, 20);
  font-size: fluid-full(64, 18);
  line-height: fluid-full(79, 22);
  letter-spacing: fluid-full(2.88, 0.8);
  @media (min-width: to-rem(768)) {
    font-size: to-rem(36);
    line-height: to-rem(45);
  }
  @media (min-width: to-rem(768)) {
    margin: 0;
    font-weight: 400;
  }
}

.list {
  @media (min-width: to-rem(768)) {
    display: grid;
    row-gap: fluid-mid(60, 20);
  }
}

.textSmall {
	font-size: to-rem(15);
	line-height: to-rem(24);
	border-radius: to-rem(4);
	@media (width: to-rem(768)) {
		font-size: fluid-mid(18,16);
		line-height: fluid-mid(27,24);
		border-radius: fluid-mid(6,4);
	}
}