.container {
	max-width: to-rem(1440);
	margin-inline: auto;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 8;
	height: var(--header-height);
	width: 100%;
	display: flex;
	padding-block: fluid-full(26,12);
	background-color: var(--color-bg-primary);
	@media (width: to-rem(768)) {padding-block: to-rem(16);}
}

.headerContainer {
	display: flex;
	justify-content: space-between;	
	width: 100%;
	max-width: to-rem(1440);
	padding-inline: var(--pad-inl-head-foot);
	@media (width: to-rem(768)) {padding-inline: to-rem(40);}
}
	

.alignCenter {
	display: flex;
	align-items: center;
}