.header {
  padding-bottom: fluid-mobile(40, 28);
  @media (min-width: to-rem(768)) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: fluid-mid(60, 28);
  }
}

.headerTitle {
  margin-bottom: fluid-mobile(32, 20);
  font-size: fluid-full(64, 18);
  line-height: fluid-full(79, 22);
  letter-spacing: fluid-full(2.88, 0.8);
  @media (min-width: to-rem(768)) {
    font-size: to-rem(36);
    line-height: to-rem(45);
  }
  @media (min-width: to-rem(768)) {
    margin: 0;
    font-weight: 400;
  }
}