.text-about {		
	@media (width >= rem(576)) {padding-top: rem(40);}
	@media (width >= rem(768)) {
		max-width: 90%;
		padding: 0;
	}
	@media (width >= rem(1440)) {margin-top: rem(-16);}
    @media (width >= rem(1440)) {max-width: rem(590);}

	&__container {
		padding-inline: rem(15);
		text-align: center;
		@media (width >= rem(425)) {padding-inline: rem(60);}
		@media (width >= rem(576)) {padding-inline: rem(120);}
		@media (width >= rem(768)) {
			padding: 0;
			text-align: left;
		}
		@media (width >= rem(1440)) {padding: 0;}
	}	

	&__arrow {
		display: none;
		@media (width >= rem(768)) {
			position: relative;
			width: fluid-mid(112,60);
			aspect-ratio: 1;
			background-color: var(--color-accent-blue);
			display: block;
			border-radius: 50%;
			margin-bottom: rem(20);
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 63%;
			aspect-ratio: 1;
			transform: translate(30%, 30%);
			background: url('../img/icons/about-arrow/about-arrow.svg') no-repeat center center;
			background-size: contain;

			@media (max-width: rem(600)) {background-size: 50%;}
			@media (min-width: rem(601)) {background-size: contain;}
			@media (width: rem(768)) {width: rem(38);}
		}
	}

    &__text-blue {
        display: inline-block;
		margin-top: 0;
		margin-inline: auto;
		margin-bottom: fluid-mobile(340,92);
        padding-inline: rem(8);
        background-color: var(--color-bg-primary);
		@media (width >= rem(768)) {
			padding: 0;
			margin: 0;
		}
		@media (width: rem(1440)) {line-height: rem(27);}
	}
	
	&__title {
		margin-bottom: rem(32);
		font-size: fluid-full(65,18);
		line-height: fluid-full(79,22);
		letter-spacing: fluid-full(2.88,0.8);
		@media (width: rem(768)) {
			font-size: rem(37);
			line-height: rem(40);
		}
		@media (width >= rem(768)) {margin-bottom: rem(20);}	
		@media (width >= rem(1440)) {
			margin-bottom: rem(32);
			line-height: rem(79);
		}
	
	}

    &__subtitle:not(:last-child) {
		margin-bottom: rem(20);
		@media (width >= rem(1440)) {margin-bottom: rem(32);}
	}
}