.button {
	display: inline-block;
	padding-block: fluid-full(12,5);
	padding-inline: fluid-full(18,8);
	font-weight: 400;
	color: var(--color-text-primary);
	background-color: var(--color-accent-blue);
	@media (width: rem(768)) {padding-block: rem(8);}
	@media (width >= rem(992)) {
		&:hover {background-image: linear-gradient(to right, var(--color-accent-yellow), var(--color-accent-blue));}		
	}
	@media (width >= rem(1440)) {line-height: rem(27);}
}

.button-subscribe {
	padding-block: fluid-mid(12,2);
	padding-inline: fluid-mid(18,10);
	font-size: fluid-full(15,14);
	font-weight: 700;
	line-height: rem(24);
	border-radius: fluid-full(6,4);
	color: var(--color-text-muted);
	background-color: var(--color-accent-blue);
	@media (width: rem(768)) {
		padding-block: rem(4);
		font-size: rem(14);
		border-radius: rem(5);
	}
	@media (width >= rem(768)) {padding-inline: fluid-mid(18,10);}
	@media (width >= rem(992)) {
		&:hover {background-image: linear-gradient(to right, var(--color-accent-yellow), var(--color-accent-blue));}
		cursor: pointer;		
	}
}

.btn_up {
	display: none;
	position: fixed;
	bottom: rem(40);
	right: rem(15);
	width: fluid-full(60,40);
	aspect-ratio: 1;
	border-radius: 50%;
	z-index: 100;
	outline: 0 !important;
	background: rgba(255, 255, 255, .5);

	&::before, &::after {
		content: "";
		width: rem(10);
		height: rem(10);
		border-top: rem(2) solid #000;
		border-right: rem(2) solid #000;
		transform: rotate(-45deg);
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	&::before {top: rem(-5);}

	&::after {top: rem(10);}
	
	&.active {display: block;}

	@media(min-width: rem(992)) {
		&:hover {
			cursor: pointer;
			background-color: var(--color-accent-blue);
			transition: 0.5s;
			&::before, &::after {
				border-top: rem(2) solid var(--color-text-primary);
				border-right: rem(2) solid var(--color-text-primary);
			}
		}
	}
}