.footer {
	position: relative;
	padding-top: fluid-full(100,20);
	padding-bottom: fluid-full(100,40);
	&__container {padding-inline: var(--pad-inl-head-foot);}

	&__row {
		display: grid;
		row-gap:  fluid-mobile-add(40,20);		
		@media (width: rem(768)) {row-gap: rem(32);}
		@media (width >= rem(992)) {
			position: relative;
			display: flex;
			margin-bottom: 0;
		}
		@media (width >= rem(1440)) {
			position: relative;
			display: flex;
			justify-content: space-between;		
		}
	}

	&__col {
		display: flex;
		align-items: center;
		column-gap: fluid-mobile-add(285,28);
		@media (width >= rem(992)) {display: block;}
	}

	&__logo {
		display: inline-block;
		&-img {
			width: fluid-full(223,112);
			height: auto;
			@media (width: rem(768)) {width: rem(160);}
		}
		@media (width >= rem(992)) {margin-bottom: rem(20);}
	}
	
	&__soc1als-2 {
		display: flex;
		column-gap: fluid-mobile-add(50,30);
		font-size: 0;
		@media (width >= rem(992)) {column-gap: fluid-mid_2(17, 10);}

	}
}