.menu {
  &__icon {
    position: absolute;
    width: fluid-mobile(32,21);
    height: fluid-mobile(24,16);
    right: rem(15);
    z-index: 6;
    transition: all .3s ease 0s;
    & span,
    &::before,
    &::after {
      position: absolute;
      width: 100%;
      height: 17%;
      background-color: var(--color-text-primary);
      transition: all .3s ease 0s;
    }
    &::before,
    &::after {content: "";}
    &::before {top: 0;}
    &::after {bottom: 0;}
    & span {
      top: 50%;
      transform: translate(0, -50%);
    }
    &._active {
      top: 50%; 
      & span {transform: scale(0) translate(0, -50%);}
      &::before,
      &::after {
        top: 50%;
        height: 25%;
      }
      &::before {transform: rotate(-45deg) translate(rem(3), -50%);}
      &::after {transform: rotate(45deg) translate(rem(-3), -50%);}     
    }
    @media(min-width: rem(576)) {right: rem(20);}
    @media(min-width: rem(768)) {
      opacity: 0;
      visibility: hidden;
      width: 0;
      height: 0;    
      left: -1000%;
      background-color: transparent;
      font-size: 0;
    }
  }    

  &__body {
    position: absolute;
    top: 0;
    left: -150%;
    height: 100vh;
    width: 100%; 
    background-color: rgb(6 33 55 / 0.9);
    display: flex;
    overflow: auto;
    transition: all .3s ease 0s;
    z-index: 5;
    &._active {left: 0;}
    @media (min-width: rem(768)) {
      position: static;
      height: auto;
      background-color: transparent;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding: rem(30);
    gap: 0;
    margin: auto;
    @media (min-width: rem(768)) {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
    } 
  }

  &__item {
    @media (width >= rem(768)) {&:last-child .menu__link{ padding-right: 0;}}
  }

  &__link {
    display: block;
    font-size: fluid-mobile(32,24);
    line-height: fluid-mobile(112,80);
    color: var(--color-text-primary);
    text-decoration: none;
    @media (width >= rem(768)) {
        display: inline-flex;
        align-items: center;
        padding: fluid-mid(20,10);
        font-size: fluid-mid(17,15);
        line-height: fluid-mid(27,24);     
        &:hover, &:active {color: var(--color-accent-blue);}     
    }
  }
}