.reviews-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: fluid-full(19,12);
    background-color: var(--color-bg-cards);
    padding: fluid-full(50,20);
    @media (width >= rem(576)) {border-radius: rem(20);}
    @media (width >= rem(1440)) {
        width: rem(423);
        padding: rem(54) rem(50);
        border-radius: rem(32);
    }

    &__description {
        font-size: fluid-full(36,17);
        line-height: fluid-full(43,22);       
        color: var(--color-text-primary);
        @media (width: rem(768)) {
            font-size: rem(23);
            line-height: rem(35);
        }
        @media (width >= rem(1440)) {line-height: calc(43 / 36);}
    }
    
    &__author {
        font-size: fluid-full(24,14);
        line-height: fluid-full(29,17);
        color: var(--color-text-muted);
        @media (width: rem(768)) {
            font-size: rem(18);
            line-height: rem(22);
        }
        @media (width >= rem(1440)) {font-size: rem(24);}
    }
}

.stars {
    display: flex;
    column-gap: fluid-full(5,1);
    @media (width: rem(768)) {column-gap: rem(2);}
}

.star {
    width: fluid-full(17,7);
    height: fluid-full(17,7);
    fill: var(--color-text-muted);   /* empty by default */
}

.star.full {fill: var(--color-accent-yellow); /* filled */}