.body {
  position: absolute;
  top: 0;
  left: -150%;
  width: 100%;
  height: 100vh;
  background-color: rgb(6 33 55 / 0.9);
  display: flex;
  transition: all 0.3s ease;
  overflow: auto;
  z-index: 5;
}

.active {
  left: 0;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: auto;
}

.item { }

.link {
  display: block;
  font-size: 24px;
  line-height: 80px;
  color: var(--color-text-primary);
  text-decoration: none;
}

@media (min-width: 768px) {
  .body {
    position: static;
    height: auto;
    background-color: transparent;
  }

  .list {
    flex-direction: row;
    padding: 0;
  }
  
  .link {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
  }

  .link:hover,
  .link:active {
    color: var(--color-accent-blue);
  }
}