.list {
	display: grid;
	gap: to-rem(20);
	@media (min-width: to-rem(576)) {
			grid-template-columns: 1fr 1fr;
			align-items: stretch;
			gap: clamp(0.75rem, 0.679rem + 0.36vw, 1rem);
	}
	@media (width: to-rem(768)) {gap: to-rem(14);}	
	@media (min-width: to-rem(1024)) {grid-template-columns: repeat(3, 1fr);}
}